<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>상세보기</title>
    <!-- css 파일 연결 -->
    <link rel="stylesheet" th:href="@{/board/css/BoardDetail.css}">
    <!-- JavaScript 파일 연결 -->
    <script th:src="@{/board/js/BoardDetail.js}" defer></script>
</head>
<body>
<h1>상세보기</h1>
    <div class="formContainer" th:each="board : ${detail}">
    <input type="hidden" id="No" th:value="${board.no}">
        <span>제목</span>
        <input  id="writeTitle" th:value="${board.title}" type="text">
        <span>내용</span>
        <textarea id="writeContent" th:text="${board.comment}" ></textarea>
        <div class="fileArea">
            <div class="fileRegist" id="fileDownload" th:text="${board.oriName}"th:data-fno="${board.fno}"></div>
        </div>
    </div>

    <div>
        <button id="btnUpdate">수정</button>
        <button id="btnDelete">삭제</button>
        <button id="btnClose">닫기</button>
    </div>
</body>
</html>
