<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>
  <body>
    <form class="loginForm" th:action="@{/login}" method="post">
      <div>
        <input class="idForm" type="text" name="uid" placeholder="아이디">
      </div>
      <div>
        <input class="passForm" type="password" name="pass" placeholder="비밀번호">
      </div>
      <button class="btn btnLogin" type="submit">로그인</button>
    </form>
  </body>
</html>